body {
  background: #333333;
}

@font-face {
  font-family: rnmFont;
  src: url(./siteFont.ttf);
}

.img-Box:hover {
  filter: drop-shadow(0 0 40px white);
  cursor: pointer;
}

.portal {
  background: url(./imgs/Portal.png);
  filter: drop-shadow(0 0 20px #000);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}

.btn-box {
  display: flex;
  justify-content: space-evenly;
}
